<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow Around You to take photos and record videos for your posts.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Around You to record audio with videos for your posts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Around You to select photos and videos for your posts.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>ordozgoite.WhatsGoingNearby.backgroundTask.updateLoc</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
